*{
	padding: 0;
	margin: 0;
}
body{
	background-image: url("fundo body.jpg");

}

.container{
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	grid-template-rows: repeat(auto, 130px);
	grid-gap: 5px 5px;

}

.grid-item{

	padding: 10px;
}

.img{
	width: 80%;
	height: 100%;
	object-fit: cover;
}

.titlebooks{
	font-size: 25px;
	font-family: verdana;
	color: #ffa500;

}
.titleInstructions{
	font-family:verdana;
	font-size: 50px;
	color: #ffa500;  
}

nav{
	width: 100%;
	height: 100px;
	background-image: url("fundo nav.jpg");

	padding-bottom: 30px;
	margin-bottom: 10px;

}

.return a{
	text-decoration: none;
	font-size: 30px;
	font-family: verdana;
	color: #ffa500;
	padding-left: 10px;

}

table tr td img{
	width: 80px;
	height: 120px;
	padding-left: 30px;
	padding-top: 20px;
}


a:hover{
	color: white;
}

.description{

	font-size:20px;
	font-family: arial;
	color: #ffa500;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 50px;
}

@media only screen and (min-width: 769px) and (max-width: 900px){
  .container{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(auto, 130px);
	grid-gap: 5px 5px;

}
}
@media only screen and (min-width: 601px) and (max-width: 768px){
	.container{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(auto, 130px);
	grid-gap: 5px 5px;

}	
}
@media only screen and (min-width: 481px) and (max-width: 600px){
.container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(auto, 130px);
	grid-gap: 5px 5px;

}
}
@media only screen and (max-width: 480){
	.container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto, 130px);
	grid-gap: 5px 5px;

}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 900px)  {
      .container{
    	display: grid;
    	grid-template-columns: repeat(7, 1fr);
    	grid-template-rows: repeat(auto, 130px);
    	grid-gap: 5px 5px;

    }
}
@media only screen and (min-device-width: 601px) and (max-device-width: 768px)  {
    	.container{
    	display: grid;
    	grid-template-columns: repeat(5, 1fr);
    	grid-template-rows: repeat(auto, 130px);
    	grid-gap: 5px 5px;
    
    }	
}
@media only screen and (min-device-width: 481px) and (max-device-width: 600px) {
    .container{
    	display: grid;
    	grid-template-columns: repeat(4, 1fr);
    	grid-template-rows: repeat(auto, 130px);
    	grid-gap: 5px 5px;
    
    }
}
@media only screen and (max-device-width: 480px){
	.container{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(auto, 130px);
	grid-gap: 5px 5px;

    }
}



